<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/add" method="post">

            <div class="mb-3"><input placeholder="name" type="text" name="name"></div>
            <div class="mb-3"><input placeholder="email" type="text" name="email"></div>
            <div class="mb-3"><input placeholder="phoneNum" type="text" name="phoneNum"></div>
            <div class="mb-3"><input placeholder="address" type="text" name="address"></div>
            <div class="mb-3"><input placeholder="designation" type="text" name="designation"></div>
            <div class="mb-3"><input placeholder="interests" type="text" name="interests"></div>
            <div class="mb-3"><input  type="submit"></div>

        </form>
    </div>
</body>

</html>