<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/add"><button>ADD</button></a>
        <a href="/edit"><button>EDIT</button></a>
        <a href="/delete"><button>DELETE</button></a>
        <a href="/query"><button>QUERY</button></a>
        <a href="/comment"><button>COMMENT</button></a>
        <a href="/getComments"><button>GET COMMENTS</button></a>
                
    </div>
</body>
</html>