<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container table-responsive-sm" style="padding: 90px; ">
        <div>
            <center>
                <h1>TO USER</h1>
            </center>
        </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td><a href="/t_comment/{{this._id}}" class="btn btn-outline-success">{{this.name}}</a></td>
                    <td>{{this.email}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
    
</body>

</html>